@font-face {
  font-display: swap;
  font-family: "MullerNarrow-ExtraBold";
  src: local("MullerNarrow-ExtraBold"), url("/fonts/MullerNarrow-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/MullerNarrow-ExtraBold.woff") format("woff"), url("/fonts/MullerNarrow-ExtraBold.ttf") format("truetype"), url("/fonts/MullerNarrow-ExtraBold.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "MyriadPro-Regular";
  src: local("MyriadPro-Regular"), url("/fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro-Regular.woff") format("woff"), url("/fonts/MyriadPro-Regular.ttf") format("truetype"), url("/fonts/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "MyriadPro-Bold_0";
  src: local("MyriadPro-Bold_0"), url("/fonts/MyriadPro-Bold_0.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro-Bold_0.woff") format("woff"), url("/fonts/MyriadPro-Bold_0.ttf") format("truetype"), url("/fonts/MyriadPro-Bold_0.otf") format("opentype");
}

body {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #343a40;
}

.banner {
  background-image: url(/img/banner.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 45px;
}

.bann_head {
  left: 33%;
}

.bann_text {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #343a40;
}

.bann_price {
  font-family: MullerNarrow-ExtraBold;
  font-size: 23px;
  line-height: 1.2;
  font-weight: 800;
  color: #dc3545;
}

.nav-link_menu {
  font-family: MyriadPro-Regular;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #dc3545;
}

.nav-link_menu:hover {
  color: #F07581;
}

.select-region_city {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #dc3545;
}

.select-region_text {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #212529;
}

.dottedUnderline {
  border-bottom: 2px dotted;
  border-bottom-color: currentcolor;
  border-bottom-color: #dc3545;
}

.select-region_button {
  width: 108px;
  height: 29px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dc3545;
  border-radius: 5px;
}

.site-name {
  font-family: MyriadPro-Bold_0;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: #212529;
}

.site-name_explanation {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #212529;
}

.phone {
  font-family: MyriadPro-Regular;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #212529;
  position: relative;
}

.phone:hover {
  color: #7E8994;
}

.opening-hours {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #212529;
}

.catalog_btn {
  background-color: #dc3545;
  border-radius: 5px;
  padding-right: 56px;
  font-family: MyriadPro-Bold_0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: none;
}

.catalog_btn:hover,
.search_btn:hover,
.backet:hover {
  background-color: #EE6673;
  border-color: #EE6673;
  text-decoration: none;
  color: #ffffff;
}

.form-control_input {
  border: 2px solid #dc3545;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  min-width: 324px;
  padding: 20px 0 20px 24px;
}

.form-control_input::-webkit-input-placeholder {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #a1a1a1;
}

.form-control_input:-ms-input-placeholder {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #a1a1a1;
}

.form-control_input::-ms-input-placeholder {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #a1a1a1;
}

.form-control_input::placeholder {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #a1a1a1;
}

.form-control_input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #dc3545;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search_btn {
  background-color: #dc3545;
  border-radius: 0px 5px 5px 0px;
  background-image: url(/img/magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #dc3545;
  padding: 20px;
}

.backet {
  background-color: #dc3545;
  border-radius: 5px;
}

.backet_text {
  font-family: MyriadPro-Bold_0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.dropdown .dropdown-toggle::after {
  border: none;
}

.dropdown-menu {
  background-color: #f9f5f1;
  margin: 0;
  width: 100%;
}

.dropdown-item {
  padding: 8px 14px;
  font-family: MyriadPro-Regular;
  font-size: 16px;
  line-height: 15px;
  font-weight: 400;
  color: #343a40;
}

.dropdown-item:hover {
  background-color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-toggle::after {
  content: "\e99b";
  margin-left: 5.5rem;
}

.dropdown-submenu .dropdown-menu {
  top: -8px !important;
  left: 100% !important;
  margin-left: .1rem;
  margin-right: .1rem;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */